server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/outdoor_demo?useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: qq2027681066
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: UTC
  mail:
    host: smtp.qq.com
    port: 587
    username: 2027681066@qq.com # 请替换为你的QQ邮箱
    password: ymtvgtxbzqeqejic # 请替换为QQ邮箱授权码
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
