<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outdoor.demo.mapper.ActivityUserMapper">
    <resultMap id="ActivityUserMap" type="com.outdoor.demo.entity.ActivityUser">
        <id property="id" column="id"/>
        <result property="activityId" column="activity_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="insert" parameterType="com.outdoor.demo.entity.ActivityUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity_user (activity_id, user_id)
        VALUES (#{activityId}, #{userId})
    </insert>

    <select id="countByActivityId" parameterType="long" resultType="int">
        SELECT COUNT(1) FROM activity_user WHERE activity_id = #{activityId}
    </select>

    <select id="findByActivityIdAndUserId" resultMap="ActivityUserMap">
        SELECT id, activity_id, user_id
        FROM activity_user
        WHERE activity_id = #{activityId} AND user_id = #{userId}
    </select>
</mapper>

